.DS_Store
UDK
Binaries
build
DerivedData
xcshareddata
xcuserdata
project.xcworkspace
*.dSYM
*.linux
.vscode
.idea
unc-srclist.txt
unc-UEFI.cfg
uncrustify
uncrustify.diff
Uncrustify-repo
*.o
*.o.tmp
*.d
*.exe
*.gcda
*.gcno
FUZZDICT
COVERAGE*
*.sydr*
sydr-fuzz.toml
sydr-fuzz-out
fuzz-*.log
crash-*
oom-*
slow-unit-*
*.log
*.aux
*.out
*.synctex.gz
*.toc
out.bin
prelinkedkernel.unpack
.gdb_history
*.dmg
*.chunklist
*.pyc
*.id0
*.id1
*.id2
*.nam
*.til
*.aml
Debug/QemuRun
Doxy
Thumbs.db